.root {
  display: "flex";
  flex-wrap: "wrap";
  justify-content: "space-around";
  overflow: "hidden";
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px lightgray;
  margin: 10px;
}
.gridList {
  width: 500;
  height: 450;
}
.icon {
  color: "rgba(255, 255, 255, 0.54)";
}
p {
  padding: 10px;
}
