.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
}

i {
  color: black !important;
}
.login-form {
  width: 40%;
  background-image: image(
    "https://image.shutterstock.com/image-photo/macro-leaves-background-texture-blue-600w-728448754.jpg"
  );
}

.hidden {
  display: none !important;
}
